<div class="container">
  <div class="dndPlaceholder col-md-12"
    #placeholder></div>
  <h3>Nested Drag and Drop</h3>
  <div class="row">
    
    <div class="col-md-9">
      <div class="row">
        <div *ngFor="let dropzone of nestedList.dropzones;let i = index"
          class="col-md-6">
          <div class="dropzone box box-yellow">
            <!-- The dropzone also uses the list template -->
            <h3>Dropzone {{i + 1}}</h3>
            <div [dndList]="{
              allowedTypes: ['item','container']}"
              [dndModel]="dropzone"
              [dndPlaceholder]="placeholder" class="col-md-12">
              <div *ngFor="let item of dropzone">
              <container *ngIf="item.type === 'container'"
                  [list]="dropzone"
                  [model]="item"></container>
                <div *ngIf="item.type === 'item'"
                  [dndType]="item.type"
                  [dndDraggable]
                  (dndMoved)="removeItem(item, dropzone)"
                  [dndObject]="item"
                  class="col-md-12">{{item.type}} {{item.id}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<ng-template #container let-model="model" let-list="list">
      <div class="panel panel-default" [dndType]="model.type"
    [dndDraggable]
    (dndMoved)="removeItem(model, list)"
    [dndObject]="model">
    <div class="panel-heading">
      {{model.type}} {{model.id}} 
    </div>
    <div class="panel-body" [dndList]="{
        allowedTypes: ['container','item']}"
        [dndModel]="model.columns"
        [dndPlaceholder]="placeholder">
      <ng-container *ngFor="let item of model.columns">
      <ng-container *ngIf="isArray(item)">
        <ng-container *ngFor="let subItem of item">
        <ng-container *ngIf="subItem.type === 'container'">
          <ng-container *ngTemplateOutlet="container;context:{model:item, list:subItem}"></ng-container>
      </ng-container>
        <!-- <container *ngIf="subItem.type === 'container'"
        [list]="item"
        [model]="subItem"></container> -->
        <div *ngIf="subItem.type === 'item'" [dndType]="subItem.type"
        [dndDraggable]="{draggable:true, effectAllowed:'move'}"
        (dndMoved)="removeItem(subItem, item)"
        [dndObject]="subItem" class="col-md-12">{{subItem.type}} {{subItem.id}}</div>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="!isArray(item)">
          <ng-container *ngIf="subItem.type === 'container'">
         <ng-container *ngTemplateOutlet="container;context:{model:item, list:model.columns}"></ng-container>
         </ng-container>
        <!-- <container *ngIf="item.type === 'container'" [list]="model.columns"
          [model]="item"></container> -->
         
          <div *ngIf="item.type === 'item'" [dndType]="item.type"
          [dndDraggable]="{draggable:true, effectAllowed:'move'}"
          (dndMoved)="removeItem(item, model.columns)"
          [dndObject]="item" class="col-md-12">{{item.type}} {{item.id}}</div>

          </ng-container>
      </ng-container>
    </div>
  </div>

  <div class="dndPlaceholder col-md-12"
  #placeholder></div>
</ng-template>